<footer class="footer user-profile-footer" role="contentinfo">
  <div class="footer-logo">
    <img class="message-box-logo hidden-sm hidden-xs" src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo.png"/>
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="mailto:thomasagoldenberg@gmail.com">Contact</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="https://www.facebook.com/speakitlanguageapp">Facebook</a></li>
      <li><a href="https://twitter.com/tomgoldenberg">Twitter</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>All materials contained in this Website are protected by copyright laws, and may not be reproduced, republished, displayed, or otherwise exploited in any manner without the express prior written permission of the Website owner(s). </p>
  <div id="footer_extra_space"></div>
</footer>
