<div id="main-container" class="container-fluid">
  <div id= "welcome-bar" class= "row">
    <div id= "login-col" class= "col-sm-4">
      <div>
        <%= render partial: "sessions/form" %>
      </div>
    </div>

    <div id="speak-it-info" class="col-sm-8">
      <h1 id="proxima-nova">SpeakIt <span><img class="message-box-logo" src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo.png"</span></h1>
      <p>Practice language skills by talking with native speakers</p>
      <%= link_to 'Sign Up', new_user_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
  <div class="row" id="site-information">
    <div class="col-md-8">
      <h1>Language is the key that unlocks a new culture</h1>
      <p>Our peer-to-peer web conferencing allows for users to practice vocabulary with real speakers. Language is living entity, not something to be learned from just learning grammar. Improve true fluency and help others do so as well through peer-to-peer learning.</p>
    </div>
    <div class="col-md-4">
      <h4>Site description</h4>
    </div>
  </div>
  <div id="interact" class="row">
    <h2 id="culture-quote"> Language is the key to unlocking a new culture </h2>
  </div>
  <div id="level-up" class="row">
    <h2> Level up and master your language </h2>
  </div>
  <div id="meet-people" class="row">
    <h2> Meet people around the world<h2>
    <div class="col-sm-4" id="person-1">
      <p> hello </p>
    </div>
    <div class="col-sm-4" id="person-2">
      <p> hello </p>
    </div>
    <div class="col-sm-4" id="person-3">
      <p> hello </p>
    </div>
  </div>
</div>
