<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span><img class="globe-logo" src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/globe-logo.png"/></span>SpeakIt</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li></li>
      <% if logged_in? %>
        <button type="button" class="btn btn-default btn-lg notifications">
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default btn-lg missed">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        </button>
        <li id='logout'> <%= link_to 'Logout', logout_path, method: 'delete' %> </li>
      <% end %>
    </ul>
  </div>
</nav>
<% if logged_in? && (@active_invitations.length > 0 || @missed_calls.length > 0) %>
  <%= react_component("NotificationsHolder", {currentUser: current_user, active_invitations: @active_invitations.map{|invitation| {invitation: invitation, sender: invitation.sender}}, missed_calls: @missed_calls.map{|call| {call: call, sender: call.sender}}}, class: "react-notifications-holder") %>
<% end %>
