  <table class="table">
    <thead>
      <p> head <p>
      <tr>
        <th>Avatar</th>
        <th>Username</th>
        <th>Country</th>
        <th> Native Language</th>
      </tr>
    </thead>
    <tbody>
      <% @available_users.each do |user| %> 
        <tr>
          <td> <img src= <%= user.avatar_url %> alt = "avatar"  ></td>
          <td> <%= user.username %></td>
          <td><%= user.country.name %></td>
          <td> <%= user.native_language.name %> </td>
          <td> 
        </tr>
      <% end %>
    </tbody>
  </table>