    <br/>
    <ul class="nav nav-tabs">
      <li id="available-tab" role="presentation" class="active"><a href="#"> <%= t('logged_in.available') %></a></li>
      <li id="recent-tab" role="presentation"><a href="#"> <%= t('logged_in.recent') %></a></li>
    </ul>
