    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Available</a></li>
      <li role="presentation"><a href="#">Recent</a></li>
    </ul>