<html>
  <head>
  </head>
  <body>
    <% if logged_in? %>
      <div class="container">
        <%= render partial: "welcome/profile" %>
        <%= render partial: "welcome/tabletab" %>
        <%= render partial: "welcome/river" %>
      </div>
    <% else %>
      <%= render partial: "welcome/landingpage" %>
    <% end %>
  </body>
</html>
