<html>
<body>
	<div id="main-container" class="container-fluid"></div>
	<div id= "welcome-bar" class= "row">
		<div id= "login-col" class= "col-md-9">
		<div id= "Speak-it-info" class= "col-md-3">
	</div>

</body>
</html>
