<div id="feedback-form-wrapper">
  <div id="wrapper">
    <h1 class="form-title"> Contact
      <span>
        <img class="message-box-logo" src="https://raw.githubusercontent.com/tgoldenberg/Speakit-Static/master/app/assets/images/logo.png"/>
      </span>
    </h1>
    <br/>

    <div class="container-fluid">
      <h1 class="form-title">Email: speakitlanguages@gmail.com</h1>
      <br/>
      <hr/>
      <h1 class="form-title">Website: speakitlanguages.com</h1>
      <br/>
      <hr/>
      <h1 class="form-title">Follow us on Facebook at <b>speakitlanguageapp</b></h1>
    </div>
  </div>
</div>
