$title-font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
$title-font-weight: 300;
$red: #ff6b6b;
$sub-title-font-family: "proxima-nova-soft", "Helvetica Neue", helvetica, sans-serif;
$sub-title-font-weight: normal;
