$title-font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
$title-font-weight: 300;
$red: #ff6b6b;
$sub-title-font-family: "proxima-nova-soft", "Helvetica Neue", helvetica, sans-serif;
$sub-title-font-weight: normal;
$blue: #026aa7;
$light-brown: #827f62;
$real-dark-green: #324E44;
$darker-brown: #9B9981;
$dark-red: #8b4441;
$off-black: rgba(57, 61, 52, 0.82);
$almost-black: #333;
$grey: #aaa;
$action-color: #477DCA;
