.call-box {
  width: 10em;
  height: 7em;
  background: white;
  border-radius: 6px;
  box-shadow: 4px 2px 2px #777;
}
.call-holder {
  display: flex;
  width: 5em;
  height: 3em;
}
.calling-component {
  margin-left: 4.15em;

}
