#feedback-form-wrapper {
  background: $blue;
  color: white;
  text-align: center;
  height: 100%;
  .form-title {
    margin: 0;
    font-size: 3em;
    padding-top: 0;
  }
  .feedback-instruction {
    margin-top: 1em;
    font-family: $sub-title-font-family;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.3em;
  }
  .row.non-select {
    width: 50%;
    text-align: center;
    margin: auto;
  }
}
