.non-select {
  margin: 0px;
  text-align: center;
}
.omniauth-user-signup {
  .non-select {
    display: flex;
    .form-control#omniauth-select {
      max-width: 10px;
      min-width: 15em;
      margin-left: 0;
    }
    label {
      margin-right: 1em;
      width: initial;
    }
  }
  .omniauth-flag {
    img.image-box {
      width: 39%;
      height: 16em;
      margin-left: 0;
    }
  }
}
#omniauth-signup-title {
  font-size: 3em;
  line-height: 2.6;
}
.omniauth-country-select {
  .non-select {
    padding-left: 24%;
    padding-right: 15%;
  }
  .omniauth-flag {
    padding-left: 15%;
    padding-right: 15%;
    padding: 3%;
    img.image-box {
      margin: auto;
      margin-top: 2em;
      width: 75%;
    }
  }
}

.submit-button-holder {
  text-align: center;
}
.form-title {
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
  color: white;
  border-bottom: 1px solid #f7f7f7;
  font-family: $title-font-family;
  font-weight: $title-font-weight;
  /* line-height: 2; */
  background: darken($blue, 10%);
  font-size: 4em;

}
.message-box-logo {
  width: 1em;
  margin-top: -40px;
}

#comment-field {
	height: 100px;
}

.form-button {
	margin-top: 10px;
}
.new_user_signup {
  background: $blue;
  margin-top: -20px;
  height: inherit;
  overflow-x: hidden;
  .new-user-subtitle {
    font-size: .5em;
    font-weight: 300;
  }
  #form-button {
    margin-bottom: 2em;
  }
  #new_user_submit {
    .row {
      text-align: center;
      .btn {
        width: 28%;
        margin-left: 0;
      }
    }
  }
  #new_user_languages {
    padding-top: 3em;
    .form-group {
      height: 6em;
    }
    label {
      font-size: 1.6em;
      line-height: 2;
    }
    .image-box {
      width: 11em;
      margin-left: 5%;
      margin-top: -0.5em;
      height: 5em;
    }
    .image-box#avatar-image {
      width: 8em;
    }
  }
}
#new_user_footer {
  padding-top: 1em;
  text-align: center;
  img {
    width: 4em;
  }
}
#new_user {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .form-group {
    .form-control {
      width: 85%;
      margin-top: 1em;
      padding-left: 3em;
    }
  }
  #new_user_sidebar {
    color: white;
    h1 {
      font-size: 3em;
      font-weight: 300;
      text-align: center;
    }
    p {
      font-weight: 300;
      font-size: 1.2em;
      text-align: center;
    }
  }
  #new_user_first_panel {
    border-bottom: 1px solid lighten($blue, 10%);
    width: 95%;
    margin: auto;
    padding-bottom: 1em;
  }
  .non-select {
    text-align: left;
  }
  .form-control#select-box {
    max-width: 30em;
    min-width: 22em;
    height: 3.7em;
    @media screen and (max-width: 970px) {
      min-width: 11em;
      max-width: 15em;
    }
  }
}
#new_user_footer {
  border-top: 1px solid lighten($blue, 10%);
  height: 3em;
  width: 60%;
  margin: auto;
}
i.registration-icon {
  top: 42px;
  font-size: 1.4em;
  left: 9.5%;
  color: #bbb;
}
.image-box {
  width: 10%;
  height: 4em;
  background: $blue;
  margin-left: 5%;
  margin-top: 0.7em;
  border-radius: 2px;
  @media screen and (max-width: 1000px) {
    height: 2em;
    width: 11%;
  }
  @media screen and (max-width: 860px) {
    display: none;
  }

}
img.image-box#avatar-image {
  width: 6.5em;
}
label {
  margin: auto;
  color: white;
  font-size: 1.5em;
  font-weight: 300;
  width: 50%;
  text-align: left;
  margin-left: 2%;
}

#form-button {
  @include button(darken($blue, 50%), flat);
  height: 2em;
  font-size: 2em;
  font-weight: 300;
  margin-left: 25.5%;
  width: 50%;
  margin-top: 1em;
  @media screen and (max-width: 900px) {
    min-width: 10em;
  }
  @media screen and (max-width: 500px) {
    min-width: 5em;
  }

}
