.non-select {
  margin: 0px;
}

.form-title {
  text-align: center;
  padding-top: 1.3em;
  padding-bottom: 1.4em;
  color: white;
  font-family: $title-font-family;
  font-weight: $title-font-weight;
  line-height: 2;

}

#comment-field {
	height: 100px;
}

.form-button {
	margin-top: 10px;
}
.new_user_signup {
  background: $blue;
  margin-top: -20px;
  height: inherit;
  .left-form {
    text-align: center;
  }
}
label {
  margin-left: 12%;
  color: white;
  font-size: 2em;
  font-weight: 300;
  line-height: 2;
}
#left-form {
  float: right;
  margin: 0;
}
#right-form {
  float: left;
  margin: 0;
  margin-left: 0;
}

