body {
  background-color: #F2F2F2;
}

.user-avatar {
	width: 3em;
}

#available-table {
	display: table;
}

#recent-table {
	display: none;
}

#avatar-container {
  display: block;
}

#profile-level {
  display: block;
}

#language-flag {
  height: 5em;
  margin-top: 20px;
  margin-bottom: 20px
}

#notification-list {
  position: fixed;
  top: 9%;
  right: 10%;
  list-style-type: none;
  background-color: #D3D3D3;
  z-index: 10;
}

#flex-container {
  display: flex;
}

#notification-list li {
  padding: 0.5em 2em 0.5em 0.5em;
}

.glyphicon-ok-sign {
  color: green;
}

.glyphicon-remove-sign {
  color: red;
}

.alert {
  position: absolute;
  z-index: 2;
}
