body {
  background-color: #F2F2F2;
}

.user-avatar {
	width: 3em;
}

#avatar-container {
  display: block;
}

#profile-level {
  display: block;
}

#language-flag {
  height: 5em;
  margin-top: 20px;
  margin-bottom: 20px
}

#notification-list {
  position: fixed;
  right: 10%;
  list-style-type: none;
  z-index: 10;
  color: white;
  padding: 7px;
  border-radius: 3px;
  text-align: center;
  .call-box:before {
    left:77px;
  }
  .call-box {
    right: -73px;
  }
}
#missed-call-list {
  position: fixed;
  right: 13%;
  list-style-type: none;
  z-index: 10;
  color: darken($blue, 20%);
  padding: 7px;
  border-radius: 3px;
  text-align: center;
}

#flex-container {
  display: flex;
}

.glyphicon-ok-sign {
  color: green;
}

.glyphicon-remove-sign {
  color: red;
}

.alert {
  position: absolute;
  z-index: 2;
}
