#welcome-bar {
  height: 300px;
  border: 1px solid black
}


#speak-it-info {
  border: 1px solid blue
}


#interact {
  height: 300px;
  border: 1px solid green
}


#level-up {
  height: 300px;
  border: 1px solid orange
}
