.globe-logo {
  width: 2em;
  margin-top: -.2em;
  width: 2em;
}
.shiny {
  background: red;
}
.list-item {
  font-family: $sub-title-font-family;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.4;
}
.notification-date {
  font-size: .8em;
}
.form-icon {
  top: 2.4em;
  left: 15%;
  font-size: 1.2em;
  color: #bbb;
}

#new_user {
  .form-group {
    margin-top: 0;
    margin-bottom: 0;
    input {
      padding-left: 2em;
      height: 3.4em;
    }
    .form-control {
      width: 50%;
      margin: auto;
      margin-top: .2em;
    }
    .form-control#right-form {
      margin-left: 0;
    }
  }
  .submit-button-holder {
    text-align: left;

    input, .btn-lg {
      width: 75%;
      margin-left: 12%;
      min-width: 11em;
    }
    .btn-lg.facebook-login {
      background: darken($blue, 10%);
      border: 0px;
      margin-top: .5em;

      &:hover {
        background: darken($blue, 15%);
      }
    }
  }
}
.submit-button-holder {
  text-align: left;

  .btn-lg {
    width: 75%;
    margin-left: 12%;
    min-width: 11em;
    margin-top: .5em;
  }
}
.btn-lg.facebook-login {
  min-width: 11em;
  background: darken($blue, 10%);
  border: 0px;
  margin-top: .5em;
  min-width: 14em;
  font-size: 1em;
  height: 3.3em;
  padding-top: 1em;
  &:hover {
    background: darken($blue, 15%);
  }
}
