.stats-wrapper {
	text-align: center;
}
.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.brush .background {
  fill: #ddd;
}
.stats-holder {
	.date-selector {
		text-align: center;
	}
}