.videos {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#remoteVideoLarge {
  height: 100%;
  width: 100%;
  background: black;
}
#smallVideos {
  height: 8em;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f7f7f7;
  padding-top: 1em;
  @media screen and (max-height: 500px) {
    display: none;
  }
  #localVideo {
    height: 6em;
    width: 9em;
    background: black;
  }
  .local-video, .remote-video {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  #remoteVideoSmall {
    height: 6em;
    width: 9em;
    background: black;
  }
  .video-info-wrapper {
    padding: .3em;
    p {
      margin-top: 6px;
    }
  }
  .avatar-image-small {
    margin: 0;
    margin-left: 1em;
    width: 2.5em;
  }
}
.button-holder {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.change-turn-button {
  text-align: center;
  height: 3.5em;
  margin-top: .6em;
}
.timer-holder {
  text-align: center;
  width: inherit;
}

html, body {
  height: 100%;
}
